// Place all the styles related to the mailbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.spacer {
  margin-top: 20px;
}